<htm>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="2; url=http://localhost:3000/background" />
        <title>删除</title>
    </head>
    <body>
      <div><%= data  %></div>
       <div>3秒后返回</div>
    </body>
</htm>