<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <title></title>
    <link rel='stylesheet' href='/cssstyle/style.css' />
    <link rel='stylesheet' href='/cssstyle/style_2.css' />
  </head>
  <body>
    <div class="all">
      <div class="content">
        <div class="left">
          <div id="dosomething">
            <li><span class="icon-home font_css" id="changecolor"></span><span class="font-header">首页</span></li>
            <li><span class="icon-compass font_css"></span><span class="font-header">科普</span></li>
            <li><span class="icon-newspaper font_css"></span><span class="font-header">人物</span></li>
            <li><span class="icon-clock font_css"></span><span class="font-header">历史</span></li>
            <li><span class="icon-compass2 font_css"></span><span class="font-header">人文</span></li>
            <li><span class="icon-book font_css"></span><span class="font-header">名著</span></li>
          </div>
        </div>
      <div class="right">
      <div class="body">
        <div class="body_top">
          <div class="bottom" id="bottom"><span class="icon-folder-upload"></span>上传</div>
        </div>
        <div class="body_arise">
          <div class="data"><li class="data-left"></li><li class="data-right"></li></div>
        </div>
      </div>
      </div>
      </div>
      <div class="none">
        <div class="display_none" id="display_none" style="display: none">
          <div class="display_town">
          <form method='post' enctype="multipart/form-data" action="/update">
            <div class="frist_text">
              <input type="submit" value="提交" id="submit"/><input type="reset" id="reset"/><button id="button">取消</button>
              <select required="required" name="book_select" id="select">
                <option disabled="disabled">选择你要提交的类型</option>
                <option value="科普">科普</option>
                <option value="人物">人物</option>
                <option value="人物">历史</option>
                <option value="人物">人文</option>
                <option value="人物">名著</option>
              </select>
            </div>
            <li>图书书名: <input type="text" required="required" name="book_name"/></li>
            <li>图书作者: <input type="text" required="required" name="book_auther" /></li>
            <li>图书评分: <input type="text" placeholder="分数只能在1-5分之间" required="required" pattern="[0-5]" name="book_gaden"/></li>
            <li>文件大小: <input type="text" required="required" placeholder="不能大于20M" name="book_size"/></li>
            <li>图书章数: <input type="text" required="required" name="book_num"/></li>
            <li>上传文件: <input type="file" name="book_file" accept="aplication/zip" title="只支持zip文件类型上传"/></li>
            <li>上传照片: <input type="file" required="required" name="book_image"  title="只支持图片类型上传"/></li>
            <li>图书简介</li>
            <div class="last_texts"><textarea required="required" class="last_text" name="book_introduce"/></textarea></div>
          </form>
          </div>
        </div>
      </div>
    </div>



    <script>
      var dosomething = document.getElementById('dosomething');
      var dosomethings = dosomething.getElementsByTagName('li');
      var dosomethingsspan = dosomething.getElementsByTagName('span');
      var display_none = document.getElementById('display_none');
      var screenX = document.documentElement.clientWidth;
      var screenY = document.documentElement.clientHeight;
      var bottom = document.getElementById('bottom');
      var button = document.getElementById('button');

      window.onload = function() {
        display_none.style.left = ((screenX/2)-300)+ 'px';
        display_none.style.top = ((screenY/2)-300)+ 'px';
        for (var i = 0; i < dosomethings.length ; i ++) {
            doclick(i)
        }
      }
      bottom.onclick = function form_arise(){
        display_none.style.display = "block";
      }
      button.onclick = function form_die(){
        display_none.style.display = "none";
      }

      function doclick(i) {
        dosomethings[i].onclick = function () {
          if (i === 0) {
            for (var k =0; k<dosomethingsspan.length; k++){
              dosomethingsspan[k].setAttribute("id", "")
            }
            dosomethingsspan[0].setAttribute("id", "changecolor")
          }else{
            for (var k =0; k<dosomethingsspan.length; k++){
              dosomethingsspan[k].setAttribute("id", "")
            }
            dosomethingsspan[(i*2)+1].setAttribute("id", "changecolor")
          }
        }
      }
    </script>
  </body>
</html>
