    <html>
    <head>
        <title></title>
    </head> 
        <body>
        <div><%=data %></div>
        <div>三秒后返回</div>
            <script>
                window.onload = function () {
                  if("<%=data %>" == 'success') {
                      var oMeta = document.createElement('meta');
                      oMeta.httpEquiv = "refresh";
                      oMeta.content="2; url=http://localhost:3000/background";
                      document.getElementsByTagName('head')[0].appendChild(oMeta);
                  }else{
                      var oMeta = document.createElement('meta');
                      oMeta.httpEquiv = "refresh";
                      oMeta.content="2; url=http://localhost:3000/loading";
                      document.getElementsByTagName('head')[0].appendChild(oMeta);
                  }
                }
            </script>
        </body>
    </html>