<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="3; url=http://localhost:3000/background" />
        <title></title>
    </head>
    <body>
     <div><%= data  %></div>
     <div>3秒后返回</div>
    </body>
   
</html>