*{font-family: "微软雅黑";margin: 0;padding:0;}

ul{
	list-style:none;
}
img,a img{
	border:none;
}
a{
	text-decoration:none;
}
#all{width: 915px;margin:0 auto;padding:0;font-size: 12px;}
a:link{text-decoration: none;color: #FFFFFF;}
a:visited{text-decoration: none;color: #FFFFFF;}
a:hover{text-decoration: none;color: #FFFFFF;}
a:active{text-decoration: none;color: #FFFFFF;}

#header{background: #e7e1d1;height: 210px;width: 915;}
#header ul li{float: left;margin-left: 25px;margin-top: 22px;color: black;}
#header ul li:nth-child(1){margin-left: 566px;}
#header ul li:nth-child(6){font-size: 29px;color: #CB423C;margin-top: 40px;}
#header a:link{text-decoration: none;color: #000000;}
#header a:visited{text-decoration: none;color: #000000;}
#header a:hover{text-decoration: none;color: #000000;}
#header a:active{text-decoration: none;color: #000000;}




#nav ul li{float: left;margin-left: 53px;margin-top: 10px;color: #ffffff;}




#op3{height: 35px;width: 824px;margin-left: 45px;border-bottom:solid;border-bottom-color:#CB423C;border-bottom-width:2px;}
#op3 h3{margin-top: 29px;}
#op4{height:28px;margin-top: 40px;}

#op5{height:770px;font-size: 15px;}
#op5 p{margin-top: 20px;}

#top5{width: 1366px;height: 70px;}
#s1{background:#e7e1d1;width: 226px;height: 70px;float:left;margin-left:-226px;}
#s2{background:#cb423c;color:#FFFFFF;width: 915px;height: 70px;float:left;argin-right: 0px;}
#s2 p{text-align: center;}
#s2 p{text-align: center;margin-top: 6px;}
#s3{background:#e7e1d1;width: 225px;height: 70px;float:left;}
