*{font-family: "微软雅黑";margin: 0;padding:0;}

ul{
	list-style:none;
}
img,a img{
	border:none;
}
a{
	text-decoration:none;
}
#all{width: 915px;margin:0 auto;padding:0;font-size: 12px;}
a:link{text-decoration: none;color: #FFFFFF;}
a:visited{text-decoration: none;color: #FFFFFF;}
a:hover{text-decoration: none;color: #FFFFFF;}
a:active{text-decoration: none;color: #FFFFFF;}

#header{background: #e7e1d1;height: 210px;width: 915;}
#header ul li{float: left;margin-left: 25px;margin-top: 22px;color: black;}
#header ul li:nth-child(1){margin-left: 566px;}
#header ul li:nth-child(6){font-size: 29px;color: #CB423C;margin-top: 40px;}

#header a:link{color: #000000;}
#header a:visited{color: #000000;}
#header a:hover{color: #000000;}
#header a:active{color: #000000;}
#nav ul li{float: left;margin-left: 53px;margin-top: 10px;color: #ffffff;}

#k1{width:335px;height: 355px;float: left;}
#k1 b{color: #CB423C;float:left;margin-top:30px;margin-left: 43px;}
#k1 ul li{float:left;margin-top: 22px;margin-left: 18px;}
#k1 ul li:nth-child(1){margin-top: 29px}

#k2{width:292px;height: 355px;float: left;margin-left: 60px;}
#k2 b{color: #CB423C;float:left;margin-left: 36px;margin-top:30px}
#k2 ul li{float:left;margin-top: 22px;margin-left: 18px}
#k2 ul li:nth-child(1){margin-top: 29px}

#k3{width: 167px;height: 269px;background-color: #eeeeee;float: left;margin-left: 52px;margin-top:49px;}
#k3 b{color:#CB423C;float:left;margin-left: 50px;margin-right:58px;margin-top: 25px;}


#ok ul li{float: left;margin-left: 25px;margin-top: 22px;color: black;}
#b ul li{float: left;margin-left: 25px;margin-top: 22px;color: black;}
#usb ul li{float: left;margin-left: 25px;margin-top: 22px;color: black;}
#usb ul li:nth-child(5){margin-right:40px;}

#top5{width: 1366px;height: 70px;margin:0px 0px 0px 0px;}
#s1{background:#e7e1d1;width: 226px;height: 70px;float:left;margin-left:-220px;}
#s2{background:#cb423c;color:#FFFFFF;width: 915px;height: 70px;float:left;argin-right: 0px;}
#s2 p{text-align: center;}
#s2 p{text-align: center;margin-top: 6px;}
#s3{background:#e7e1d1;width: 225px;height: 70px;float:left;}









