@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?ogtcqx');
  src:  url('./fonts/icomoon.eot?ogtcqx#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?ogtcqx') format('truetype'),
    url('./fonts/icomoon.woff?ogtcqx') format('woff'),
    url('./fonts/icomoon.svg?ogtcqx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-leanpub:before {
  content: "\f212";
}
.icon-hourglass:before {
  content: "\f254";
}
.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-book:before {
  content: "\e91f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-arrow-up:before {
  content: "\ea32";
}
