* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}

.all {
	width: 100%;
	height: 2325px;
}

.head {
	width: 100%;
	height: 236px;
}

.top {
	height: 29px;
	width: 100%;
	background-color: #f5f5f5;
	border-bottom: #eaeaea 1px solid;
}

.center {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
}

#left {
	width: 79px;
	height: 30px;
	float: left;
}

#left p {
	font-size: 12px;
	float: left;
}
.f{
	height: 15px;
	width: 60px;
	color: red;
}
#left p:nth-child(2) {
	margin-left: 4px;
	margin-top: 9px;
}

#reight {
	width: 400px;
	height: 30px;
	float: right;
}
#reight>ul>li {
	list-style: none;
	font-size: 12px;
	float: left;
	margin-left: 14px;
	position: relative;
	width: 65px;
	height: 29px;
	line-height: 27px;
	text-align: center;
}
#reight>ul>li:first-child:hover {
	background: white;
	border: #e0e0e0 1px solid;
	border-bottom: white 2px solid;
}

#reight>ul>li:nth-child(2):hover {
	background: white;
	border: #e0e0e0 1px solid;
	border-bottom: white 2px solid;
}

#reight>ul>li:hover .reight_1 {
	display: block;
}

.reight_1{
	width: 716px;
	height: 290px;
	position: absolute;
	border: #ccc5c2 1px solid;
	left: -333px;
	top: 30px;
	border-top: white 1px solid;
	display: none;
	background: #ffffff;
	z-index: 1000;
}

.left_1 {
	width: 361px;
	float: left;
}
.left_1 ul li:nth-child(1) a{
	color: #2eb49c;
}
.left_1 ul li a{
	color: #999999;
}
.left_2 ul li:nth-child(1) a{
	color: #2eb49c;
}
.left_2 ul li a{
	color: #999999;
}

.left_1>ul {
	width: 361px;
	height: 34px;
}

.left_1>ul>li {
	color: #7f7f7f;
	font-size: 11px;
	list-style: none;
	float: left;
	margin-left: 17px;
}
.left_1>ul>li:first-child{
	color: #2db59c;
}

.left_2 {
	width: 355px;
	height: 34px;
	float: right;
}
.left_2>ul {
	width: 361px;
	height: 34px;
}

.left_2>ul>li {
	color: #7f7f7f;
	font-size: 11px;
	list-style: none;
	float: left;
	margin-left: 17px;
}
.left_2>ul>li:first-child{
	color: #2db59c;
}

.list_1{
	margin: 0px;
	padding: 0px;
	width: 390px;
	height: 295px;
	background: #ffffff;
	position: absolute;
	margin-left: -86px;
	border: #ccc5c2 1px solid;
	border-top: white 1px solid;
	top: 31px;
	display: none;

}
#reight>ul>li:hover .list_1 {
	display: block;
}
.list_2 ul li a{
	color: #999999;
}
.list_3 ul li a{
	color: #999999;
}
.list_4 ul li a{
	color: #999999;
}
.list_2{
	width: 101px;
	height: 295px;
	float: left;
}
.list_2>ul>li{
	margin-top: 15px;
	color: #999999;
	list-style: none;
}
.list_3{
	width: 144px;
	height: 295px;
	float: left;
}
.list_3>ul>li{
	margin-top: 15px;
	color: #999999;
	list-style: none;
}
.list_4{
	width: 145px;
	height: 295px;
	float: left;
}
.list_4>ul>li{
	margin-top: 15px;
	color: #999999;
	list-style: none;
}
#reight>ul>li:nth-child(1) {
	color: #03baa5;
}
.buy{
	width: 388px;
	height: 92px;
	border: #e1e2e1 1px solid;
	margin-left: -320px;
	margin-top: 2px;
	position: absolute;
	display: none;
	border-top: white 1px solid;
}
.top_1{
	height: 21px;
	width: 388px;
	background: #ffffff;
}
.bottom_1{
	height: 71px;
	width: 388px;
	background: #f1f1f1;
}
.bottom_1 p:nth-child(1){
	font-size: 12px;
	margin-left: 160px;
}
.bottom_1 p:nth-child(2){
	margin: 0px;
	padding: 0px;
	width: 143px;
	height: 29px;
	font-size: 12px;
	color: white;
	line-height: 29px;
	background: #ff8111;
	margin-left: 240px;
	margin-top: 8px;
}
#reight>ul>li:nth-child(5):hover {
	background: white;
	border: #e0e0e0 1px solid;
	border-bottom: white 2px solid;
}
#reight>ul>li:nth-child(5):hover .buy{
	display: block;
}
#reight ul li:nth-child(6) {
	color: #03baa5;
}

.below {
	width: 1000px;
	height: 90px;
	margin: 0 auto;
}

.below img {
	margin: 0px;
	padding: 0px;
	float: left;
	border: #cccccc 1px solid;
}

.under {
	height: 116px;
	width: 1000px;
	margin: 0 auto;
}

#zuo {
	width: 138px;
	height: 116px;
	float: left;
}

#zhong {
	width: 710px;
	height: 116px;
	float: left;
}

#on {
	width: 781px;
	height: 62px;
}
#on>a{
	float: left;
}
#on>li {
	float: left;
	margin-top: 42px;
	margin-left: 15px;
	font-size: 16px;
	position: relative;
	list-style: none;
}
#on:nth-child(1):hover .maue_1{
	display: block;
}
.maue_1{
	width: 765px;
	height: 310px;
	border: #e1e2e1 1px solid;
	position: absolute;
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	z-index: 1000;
	display: none;
}
.maue_4{
	height: 25px;
	width: 765px;
	line-height: 25px;
	font-size: 13px;
	color: #00B1A1;
	float: left;
}
.maue_4>p{
	margin-left: 21px;
}
.maue_2{
	width: 382px;
	height: 285px;
	float: left;
	font-size: 12px;
}
.maue_2 ul p a{
	color: #2cb69f;
}
.maue_2 ul li a{
	color: black;
	opacity: 0.5;
}
.maue_3 ul p a{
	color: #2cb69f;
}
.maue_3 ul li a{
	color: black;
	opacity: 0.5;
}
.maue_2 ul {
	width: 382px;
	height: 30px;
}
.maue_2 p{
	float: left;
	color: #369e95;
	font-size: 12px;
	margin-left: 21px;
}
.maue_2 ul li{
	list-style: none;
	float: left;
	margin-left: 21px;
}
.maue_3{
	height: 285px;
	width: 383px;
	float: left;
	font-size: 12px;
}
.maue_3 ul{
	width: 383px;
	height: 30px;
}
.maue_3 p{
	float: left;
	color: #369e95;
	font-size: 12px;
	margin-left: 21px;
}
.maue_3 ul li{
	list-style: none;
	float: left;
	margin-left: 21px;
}
#border {
	width: 601px;
	height: 42px;
	margin-top: 20px;
	margin-left: 39px;
	float: left;
	text-align: center;
	line-height: 42px;
	background: #00b1a1;
}

#soso {
	width: 499px;
	height: 38px;
	border: #00b1a1 2px solid;
	float: left;
}

#in {
	height: 54px;
	width: 781px;
}
#in ul li {
	list-style: none;
	font-size: 12px;
	float: left;
	margin-left: 12px;
	margin-top: 11px;
}
#in ul li a:hover{
	color: #38bca4;
}
#in ul li a{
	opacity: 0.5;
	color: black;
}
#in ul li:first-child {
	margin-left: 90px;
}

#you {
	width: 82px;
	height: 116px;
	float: right;
}

#you p {
	margin-top: 1px;
	color: #29ad90;
}

.banner {
	height: 630px;
	width: 1000px;
	margin: 0 auto;
}

.graph {
	width: 1000px;
	height: 381px;
}

#nva {
	width: 131px;
	height: 381px;
	background-color: #31a894;
	float: left;
}

#photo {
	width: 869px;;
	height: 381px;
	float: left;
}
.hang{
	width: 131px;
	height: 43px;
	line-height: 43px;
	list-style: none;
	font-size: 14px;
    text-align: center;
	color: #ffffff;
	position: relative;
}
.hang:hover{
	background:white;
	color: #38bca4!important;
}
.huang>a{
	color: white;
}
#nva ul li:hover #class_1{
	display: block;
}
#class_1{
	width: 777px;
	height: 381px;
	position: absolute;
	background: white;
	z-index: 1000;
	border: #e8e8e8 1px solid;
	left: 131px;
	top: -127px;
	display: none
}
#class_1 p{
	float: left;
	text-align: left;
	width: 777px;
}
#class_1 p a{
	color: #00B1A1;
}
#class_1 ul li{
	list-style: none;
	float: left;
	
}
#class_1 ul li a{
	color: black;
	opacity: 0.5;
}
#nva_2{
	width: 131px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
#nva_2 p{
	color: white;
	margin-left: -35px;
}
#nva a{
	width: 30px;
	height: 40px;
	margin-left: 25px;
}
.study p a{
	color:#1eb694;
}
.study ul li a{
  color: #999999;
}
#stduy_1 p a{
	color:#1eb694;
}
#stduy_1 ul li a{
  color: #999999;
}
.study{
	width: 621px;
	height: 379px;
	position: absolute;
	border: #e8e8e8 1px solid;
	background: #FFFFFF;
	display: none;
	margin-left: 131px;
	margin-top: -83px;
	border-left: white 1px solid;
	z-index: 1000;
}
.study li{
	float: left;
	list-style: none;
	font-size: 12px;
	margin-left: 15px;
	color: #999999;
	margin-top: 15px;
}
.study ul{
	width: 621px;
	height: 60px;
}
.study p{
	color: #1eb694;
	font-size: 12px;
	margin-left: 15px;
	margin-top: 12px;
}
.hang:hover ~.study{
	display: block;
}
#stduy_1{
	width: 621px;
	height: 379px;
	border: #e8e8e8 1px solid;
	position: absolute;
	margin-left: 131px;
	margin-top: -126px;
	background: white;
    z-index: 999;
	display: none;
}
#stduy_1 p{
	color: #1eb694;
	font-size: 12px;
	margin-left: 15px;
	margin-top: 12px;
}
#stduy_1 ul li{
	float: left;
	list-style: none;
	font-size: 12px;
	margin-left: 15px;
	color: #999999;
	margin-top: 15px;
}
#stduy_1 ul{
	width: 621px;
	height: 60px;
}
.hang:hover ~#stduy_1{
	display: block;
}
#nva_1 a{
	color:black ;
}
#nva_1 {
	width: 860px;
	height: 39px;
	float: right;
	border-bottom: #00b1a2 2px solid;
}

#nva_1>ul>li {
	width: 131px;
	height: 38px;
	list-style: none;
	font-size: 17px;
	float: left;
	width: 130px;
	text-align: center;
	line-height: 38px;
}

#nva_1 p {
	width: 165px;
	height: 29px;
	float: right;
	text-align: end;
	line-height: 29px;
	font-size: 12px;
	margin-top: 7px;
	color: #e09c25;
}
#nva_1 ul li a:hover{
	background:#f4f6f5;
	color: #95d9cc;
}

#pecture {
	width: 869px;
	height: 340px;
	float: left;
}

#pecture_1 {
	width: 614px;
	height: 330px;
	margin: 0px;
	padding: 0px;
	margin-left: 9px;
	margin-top: 10px;
	float: left;
	position: relative;
	overflow: hidden;
}
.photograph{
	width: 1870px;
	height: 330px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 993;
	animation: photoph_3 10s;
	transform: translate(0,0);
	animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-moz-animation: photoph_3 10s;
	-webkit-animation-iteration-count:infinite;
	-webkit-transform: translate(0,0); 
	-o-transform: translate(0,0); 
	-o-animation-iteration-count:infinite;
	-ms-animation: photoph_3 10s;
	-ms-transform: translate(0,0); 
	-ms-animation-iteration-count:infinite;
}
@-moz-keyframes photoph_3{
    0%{-moz-transform: translate(0,0);}
	20%{-moz-transform: translate(-33%,0);}
	40%{-moz-transform: translate(-66%,0);}
	80%{-moz-transform: translate(-33%,0);}
	100%{-moz-transform: translate(0,0);}
}

@keyframes photoph_3{
    0%{transform: translate(0,0);}
	25%{transform: translate(-33%,0);}
	50%{transform: translate(-66%,0);}
	75%{transform: translate(-33%,0);}
	100%{transform: translate(0,0);}	
}
@-webkit-keyframes photoph_3{
    0%{-webkit-transform: translate(0,0);}
	25%{-webkit-transform: translate(-33%,0);}
	50%{-webkit-transform: translate(-66%,0);}
	75%{-webkit-transform: translate(-33%,0);}
	100%{-webkit-transform: translate(0,0);}	
}
@-o-keyframes photoph_3{
    0%{-o-transform: translate(0,0);}
	25%{-o-transform: translate(-33%,0);}
	50%{-o-transform: translate(-66%,0);}
	75%{-o-transform: translate(-33%,0);}
	100%{-o-transform: translate(0,0);}
}
@-ms-keyframes photoph_3{
    0%{-ms-transform: translate(0,0);}
	25%{-ms-transform: translate(-33%,0);}
	50%{-ms-transform: translate(-66%,0);}
	75%{-ms-transform: translate(-33%,0);}
	100%{-ms-transform: translate(0,0);}
}
#list {
	width: 235px;
	height: 330px;
	float: right;
	margin-top: 10px;
	margin-left: 11px;
	background-image: url(../img/list.jpg);
	background-repeat: no-repeat;
}
#up ul li a{
	color: black;
}
#up {
	width: 235px;
	height: 161px;
	float: left;
}

#up>ul>li {
	list-style: none;
	font-size: 12px;
	float: left;
	width: 74px;
	height: 79px;
	line-height: 130px;
	text-align: center;
	position: relative;
}
#up>ul>li:first-child:hover{
	width: 77px;
	border:#38bca4 1px solid;
	border-bottom: white 1px solid;
}
#qukly{
	height: 79px;
	width: 233px;
	position: absolute;
	border:#38bca4 1px solid;
	margin: 0px;
	padding: 0px;
	top: 79px;
	background: #ffffff;
	z-index: 1000;
	display: none;
	z-index: 1000;
}
#up>ul>li:first-child:hover #qukly{
	display: block;
}
#du{
	background: #00B1A1;
	float: left;
	width: 222px;
	height: 52px;
	margin-top: 20px;
	font-size: 11px;
	margin-left: 6px;

}
#su{
	height: 50px;
	width: 176px;
	font-size: 12px;
	float: left;

}
.last{
	width: 233px;
	height: 162px;
	border: #e8e8e8 1px solid;
	float: left;
	margin-top: 5px;
}
#last_1{
	width: 233px;
	height: 34px;
	border-bottom:#e8e8e8 1px solid;
	background: #f6f6f6;
}
#last_1 li{
	font-size: 12px;
	float: left;
	width: 76px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border-right: #e8e8e8 1px solid;
	position: relative;
	list-style: none;
}
#last_1 li:hover{
	background: white;
	border-bottom: white 2px solid;
}
#last_2{
	width: 233px;
	height: 127px;
}
#last_2 ul li{
	font-size: 11px;
	margin-left: 28px;
	margin-top: 7px;
	list-style-type: square;
}
#last_2 a{
	color: black;
	opacity: 0.8;
}
#in_1 a{
	color: black;
	opacity: 0.8;
}
#in_1{
	width: 233px;
	height: 127px;
	position: absolute;
	background: white;
	z-index: 1000;
	left: -76px;
	display: none;

}
#in_1 ul li{
	font-size: 11px;
	width: 233px;
	height: 25px;
	list-style-type: square;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#last_1 li:hover #in_1{
	display: block;
}
.faguer {
	height: 149px;
	width: 1000px;
}
.faguer_2{
	height: 5px;
	width: 1000px;
}
.faguer_1{
	height:144px;;
	width: 1000px;
}
.logo{
	height: 144px;
	width: 131px;
	float: left;
}
.contract{
	width:869px;;
	height:144px;
	float: left;
}
.contract ul li{
	list-style: none;
	width: 144px;
	height: 144px;
	float: left;
	overflow: hidden;
}
.contract ul li:hover img{

	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
}
.cphotograph {
	width: 1000px;
	height: 100px;
}

.body {
	width: 1000px;
	height: 1009px;
	margin: 0 auto;
}

.body_1 {
	height: 268px;
	width: 1000px;
}

#menu {
	width: 1000px;
	height: 62px;
	border-bottom: #98dfd1 1px solid;
}

#menu p {
	height: 21px;
	width: 152px;
	font-size: 17px;
	border-left: #39baa6 2px solid;
	float: left;
	margin-top: 28px;
	color: #323232;
}
#menu_1 ul li a{
	color: black;
}
#menu_1 {
	width: 349px;
	height: 62px;
	float: right;
}

#menu_1>ul>li {
	font-size: 13px;
	list-style: none;
	float: left;
   width: 86px;
   height: 43px;
   text-align: center;
   line-height: 43px;
   margin-top: 18px;
}
#menu_1>ul>li:hover{
	border-bottom: white 2px solid;
	border: #98dfd2  1px solid;
	border-bottom: white 1px solid;
	color: #37bda4;
}
.photo_1 {
	height: 205px;
	width: 1000px;
}
.photo_2{
	height: 20px;
	width: 1000px;
}
.photo_3{
	height: 185px;
	width: 1000px;
}
#english{
	height: 185px;
	width: 235px;
	float: left;
	background: #f6f6f6;
}
#english p a{
	color: black;
}
#english_1 p a{
	color: black;
}
#english_2 p a{
	color: black;
}
#english_3 p a{
	color: black;
}
#english p a:hover{
	color: #38bca4;
}
#english_1 p a:hover{
	color: #38bca4;
}
#english_2 p a:hover{
	color: #38bca4;
}
#english_3 p a:hover{
	color: #38bca4;
}
#english p{
	width: 235px;
	height: 35px;
	font-size: 13px;
	line-height: 35px;
}
#english_1{
	height: 185px;
	width: 235px;
	float: left;
	margin-left: 20px;
	background: #f6f6f6;
}
#english_1 p{
	width: 235px;
	height: 35px;
	font-size: 13px;
	line-height: 35px;
}
#english_2{
	height: 185px;
	width: 235px;
	float: left;
	margin-left: 20px;
	background: #f6f6f6;
}
#english_2 p{
	width: 235px;
	height: 35px;
	font-size: 13px;
	line-height: 35px;
}
#english_3{
	height: 185px;
	width: 235px;
	float: left;
	margin-left: 20px;
	background: #f6f6f6;
}

#english_3 p{
	width: 235px;
	height: 35px;
	font-size: 13px;
	line-height: 35px;
}
.body_2 {
	height: 741px;
	width: 1000px;
}

#materal {
	width: 745px;
	height: 741px;
	float: left;
}
#new_2{
	height: 64px;
	width: 745px;
	border-bottom: #98dfd1 1px solid;
}
#new_2 ul li a{
	color: black;
}
#new_2 p{
	float: left;
	height: 21px;
	width: 60px;
	border-left: #00B1A1 2px solid;
	margin-top: 34px;
	font-size: 18px;
	text-align: center;
}
#new_2 ul{
	width: 390px;
	height: 40px;
	margin-left: 80px;
}
#new_2 ul li{
	width: 75px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-top: 22px;
	list-style: none;
	float: left;
	font-size: 13px;
}
#new_2 ul li:hover{
	border: #98dfd1 1px solid;
	border-bottom:  white 1px solid;
	color: #37bda4;
	border-top: #00B1A1 2px solid;
}
#new_3{
	width: 516px;
	height: 676px;
	float: left;
}
#new_3 ul li:hover{
	color: #31A894;
}
#new_3 p:hover{
	text-decoration: underline;
     text-underline-color: #00B1A1;
}
#see{
	width: 516px;
	height: 181px;
    border-bottom:#efefef 1px solid;
}
#see ul li a{
	color:#686c6d;
}
#see ul li a:hover{
	color: #38bca4;
}
#see p{
	height: 49px;
	width: 516px;
	line-height: 49px;
	color: #ce3233;
	font-size: 17px;
}
#see ul{
	width: 516px;
	height: 132px;
	font-size: 12px;
}
#see ul li{
	width: 500px;
	height: 30px;
	line-height: 30px;
	margin-left: 16px;
}
#see_1{
	width: 516px;
	height: 198px;
}
#see_1 ul li a:hover{
	color: #38bca4;
}
#see_1 ul li a{
	color:#686c6d;
}
#see_1 p{
	height: 49px;
	width: 516px;
	line-height: 49px;
	color: #ce3233;
	font-size: 17px;
}
#see_1 ul{
	height: 149px;
	width: 516px;
	font-size: 12px;	
}
#see_1 ul li{
	width: 500px;
	height: 35px;
	line-height: 30px;
	margin-left: 16px;
}
#see_2{
	height: 80px;
	width: 516px;
}
#see_2 ul li a{
	color: #686c6d;
}
#see_2 img{
	float: left;
}
#see_2 p{
	font-size: 15px;
	float: left;
	margin-left: 10px;
}
#see_2 ul li{
	font-size: 12px;
	float: left;
	color: #87888c;
	margin-left: 20px;
	margin-top: 10px;
}
#see_3{
	height: 80px;
	width: 516px;
	margin-top: 28px;
}
#see_3 ul li a{
	color: #686c6d;
}
#see_3 p a{
	color: black;
}
#see_3 img{
	float: left;
}
#see_3 p{
	font-size: 15px;
	float: left;
	margin-left: 10px;
}
#see_3 ul li{
	font-size: 12px;
	float: left;
	color: #87888c;
	margin-left: 20px;
	margin-top: 10px;
}
#see_4{
	width: 516px;
	height: 80px;
	margin-top: 28px;
}
#see_4 ul li a{
	color: #686c6d;
}
#see_4 p a{
	color: black;
}
#see_4 img{
	float: left;
}
#see_4 p{
	font-size: 15px;
	float: left;
	margin-left: 10px;
}
#see_4 ul li{
	font-size: 12px;
	float: left;
	color: #87888c;
	margin-left: 20px;
	margin-top: 10px;
}
#new_4{
	width: 227px;
	height: 676px;
	float: right;
}
#figure{
	height: 360px;
	width: 227px;
}
#figure_1{
	width: 226px;
	height: 316px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}
#figure_2{
	width: 460px;
	height: 318px;
	position: absolute;
	animation: figure 6s;
	transform: translate(0,0); 
	animation-iteration-count:infinite;
	-webkit-animation: figure 6s;
	-webkit-transform: translate(0,0); 
	-webkit-animation-iteration-count:infinite;
	-moz-animation: figure 6s;
	-moz-transform: translate(0,0); 
	-moz-animation-iteration-count:infinite;
	-o-transform: translate(0,0); 
	-o-animation-iteration-count:infinite;
	-ms-transform: translate(0,0); 
	-ms-animation-iteration-count:infinite;
}
@keyframes figure{
	0%{transform: translate(0,0);}
	45%{transform: translate(-50%,0);}
	55%{transform: translate(-50%,0);}
	100%{transform: translate(0%,0);}
}
@-webkit-keyframes figure{
	0%{transform: translate(0,0);}
	45%{transform: translate(-50%,0);}
	55%{transform: translate(-50%,0);}
	100%{transform: translate(0%,0);}
}
@-o-keyframes figure{
	0%{transform: translate(0,0);}
	45%{transform: translate(-50%,0);}
	55%{transform: translate(-50%,0);}
	100%{transform: translate(0%,0);}
}
#shight{
	height: 147px;
	width: 227px;
	border-bottom: #cccccc 1px solid;
}
#shight ul li a{
	color:#82858e;
}
#shight img{
	float: left;
}
#shight p{
	font-size: 12px;
	margin-left: 10px;
	width: 200px;
	margin-left: 20px;
	text-align: center;
}
#shight ul li{
	width: 227px;
	list-style: none;
	font-size: 11px;
	color:#82858e;
	margin-top: 10px;
	text-align: center;
}
#shight_1{
	height: 148px;
	width: 227px;
}
#shight_1 ul li a{
	color:#82858e;
}
#shight_1 img{
	float: left;
}
#shight_1 p{
	font-size: 12px;
	margin-left: 10px;
	width: 200px;
	margin-left: 20px;
	text-align: center;
	margin-top: 18px;
}
#shight_1 ul li{
	width: 227px;
	list-style: none;
	font-size: 11px;
	color:#82858e;
	margin-top: 10px;
	text-align: center;
}
#logo_1 {
	width: 235px;
	height: 741px;
	float: right;
}
#logo_2{
	width: 233px;
	height: 44px;
}
#logo_2 ul{
	list-style: none;
	height: 42px;
	width: 233px;
	border: #e8e8e8 1px solid;
	margin-top: 21px;
	border-bottom:#00B1A1 1px solid;
}
#logo_2 ul li{
	font-size: 16px;
	height: 21px;
	width: 233px;
	border-left: #00B1A1 2px solid;
	margin-top: 13px;
}
#logo_3{
	height: 672px;
	width: 235px;
	margin: 0px;
	padding: 0px;
}
.base{
	width: 1000px;
	height: 447px;
	margin: 0 auto;
}
#base_1{
	height: 127px;
	width: 1000px;
	border-bottom: #dddddd 1px solid;
}
#base_1 p{
	font-size: 16px;
	margin-top: 41px;
}
#base_1 ul li{
	float: left;
	list-style: none;
	font-size: 12px;
	margin-left: 23px;
	margin-top: 16px;
}
#base_1 ul li a{
	color: #999999;
}
#base_1 ul li:first-child{
	margin-left: 0px;
}
#base_1 ul li:nth-child(15){
	margin-left: -3px;
}
#base_2{
	height: 194px;
	width: 1000px;
	border-bottom: #dddddd 1px solid;
}
#base_2 ul{
	width: 166px;
	height: 194px;
	float: left;
}
#base_2 ul li a{
	color: #999999;
}
#base_2 p a{
	color: black;
}
#base_2 p{
	font-size: 16px;
	margin-top: 22px;
}
#base_2 ul li{
	font-size: 12px;
	color: #999999;
	margin-top: 8px;
	list-style: none;
}
#base_3 {
	height: 124px;
	width: 1000px;
}
#base_3 ul li{
	font-size:12px;
	width: 1000px;
	text-align: center;
	margin-top: 10px;
	list-style: none;
}
#base_3 ul li a{
	color: #999999;
}
#porsen{
	position: fixed;
	z-index: 1;
	top: 200px;
	left: 3%;
	margin: 0 auto;
}
