*{font-family: "微软雅黑";margin: 0;padding:0;}

ul{
	list-style:none;
}
img,a img{
	border:none;
}
a{
	text-decoration:none;
}
#all{width: 915px;margin:0 auto;padding:0;font-size: 12px;}
a:link{text-decoration: none;color: #FFFFFF;}
a:visited{text-decoration: none;color: #FFFFFF;}
a:hover{text-decoration: none;color: #FFFFFF;}
a:active{text-decoration: none;color: #FFFFFF;}

#header{background: #e7e1d1;height: 210px;width: 915;}
#header ul li{float: left;margin-left: 25px;margin-top: 22px;color: black;}
#header ul li:nth-child(1){margin-left: 566px;}
#header ul li:nth-child(6){font-size: 29px;color: #CB423C;margin-top: 40px;}

#header a:link{color: #000000;}
#header a:visited{color: #000000;}
#header a:hover{color: #000000;}
#header a:active{color: #000000;}
#nav ul li{float: left;margin-left: 53px;margin-top: 10px;color: #ffffff;}
#tp3{width: 850px;height:30px;border-bottom: solid;border-bottom-color: #CB423C;border-bottom-width: 2px;margin-top: 33px;}
#tp3 a:link{color: #000000;}
#tp3 a:visited{color: #000000;}
#tp3 a:hover{color: #000000;}
#tp3 a:active{color: #000000;}

#i1 p{font-family: "微软雅黑";font-size: 11px;color:black;}
#i1 p{font-family: "微软雅黑";font-size: 11px;color:black;}

#tp4{width: 820px;height: 93px;border-bottom: dashed;border-bottom-color: #efefef;border-bottom-width:
2px;margin-top: 91px;}
#i2 p{font-family: "微软雅黑";font-size: 12px;color:black;padding-top:50px;padding-left: 10px;}

#top5{width: 1366px;height: 70px;margin-top:30px;}
#s1{background:#e7e1d1;width: 226px;height: 70px;float:left;margin-left:-220px;}
#s2{background:#cb423c;color:#FFFFFF;width: 915px;height: 70px;float:left;argin-right: 0px;}
#s2 p{text-align: center;}
#s2 p{text-align: center;margin-top: 6px;}
#s3{background:#e7e1d1;width: 225px;height: 70px;float:left;}