body,div,h2,ul,li,a{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
.mainbox{
	width: 1000px;
	height: 450px;
	overflow: hidden;
	margin:0 auto;
	position: relative;
}
.mainbox ul li{
	float: left;
	list-style: none;
	width: 250px;
	height: 400px;
	overflow: hidden;
	border: 30px solid #fff;
	margin-left: -60px;
	position: relative;
}
.mainbox ul li img{
	position: absolute;
}
.mainbox h2{
	position: absolute;
	bottom: 80px;
	right: 50px;
	background: rgba(255,255,255,0.6);
	padding: 5px;
	letter-spacing: 0.5em;
}
.mainbox.butBox a{
	position: absolute;
	opacity: 0.6;
}
.mainbox .butBox a:hover{
	opacity: 1;
}
.mainbox.butBox.butLeft{
	top: 220px;
	left: 50px;
	color: black;
	font-size: 60px;
}
.mainbox.butBox.butRight{
	top: 220px;
	right: 50px;
	color: black;
	font-size: 60px;
}
.mainbox .butBox .butPlay{
	top: 0px;
	left: 0px;
	border: 1px solid #999;
	padding: 3px;
}
