*{
	margin: 0px;
	padding: 0px;

}
a {
	text-decoration: none;
	color: black;
	font-family: "微软雅黑";
}
#all{
	height: 267px;
	width: 1000px;
	margin:0 auto;
	border: red 1px solid;   
}
#top{
	height: 62px;
	width: 1000px;
	border-bottom: red 1px solid;
}
#top_1{
	height: 62px;
	width: 349px;
	float: right;
}
#top_1 ul li{
		font-size: 13px;
	list-style: none;
	float: left;
     width: 86px;
     height: 60px;
    text-align: center;
     line-height: 61px;
  
}
.top_2{
	border: 1px green solid;
	border-top: blue 2px solid;
	border-bottom: white 3px solid;
}

#buttom{
	height: 185px;
	width: 1000px;
}
#buttom div {
	height: 185px;
	width: 1000px;
	margin-top: 1px;
}
#buttom div li{
	width: 250px;
	height: 185px;
	float: left;
	list-style: none;
}
#buttom div  p{
	margin-left: 5px;
	font-size: 16px;
}
.gg{
	display: none;
}
.hh{
	display: block;
}
#all_1{
	width: 614px;
	height: 330px;
	border: red 1px solid;
	margin-top: 30px;
    overflow: hidden;
	position: relative;
}
#ipictur{
	width: 614px;
	height: 330px;
	position: absolute;
}
.tphoto{
	width: 1870px;
}
.tphoto li{
	list-style:none;
	display: inline-block;
	float: left;
	display: block;
}
.en{
	display: block;
}
.f{
    display:none!important ;
}
